@using OmniBlazor.Model

<Modal @bind-Visible="@IsVisible" Closing="@OnModalClosing">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>歡迎註冊</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Email</FieldLabel>
                <TextEdit Placeholder="Enter Email here" />
            </Field>
            <Field>
                <FieldLabel>UserName</FieldLabel>
                <TextEdit Placeholder="Enter Username here" />
            </Field>
            <Field>
                <FieldLabel>Password</FieldLabel>
                <TextEdit Placeholder="Enter Password here" Role="TextRole.Password"/>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@CloseLogingModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@CloseLogingModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }
    private Task CloseLogingModal()
    {
        IsVisible = false;
        return IsVisibleChanged.InvokeAsync(false);
    }

    private Task Submit(){
        //保存邏輯
        return CloseLogingModal();
    }
    private Task OnModalClosing( ModalClosingEventArgs e )
    {
        e.Cancel = IsVisible || e.CloseReason != CloseReason.UserClosing;
        if ( IsVisible == false ) e.Cancel = false;
        return Task.CompletedTask;
    }

}

