@inherits LayoutComponentBase

<LogingFrom @bind-IsVisible="@openLogingModal" />
<RegisterForm @bind-IsVisible="@openRegisterModal"/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Dropdown>
                    <DropdownToggle Outline="true">
                        <i class="fa fa-user nav-menu" aria-hidden="true"></i>
                    </DropdownToggle>
                <DropdownMenu>
                        <AuthorizeView Roles="Omni">
                        <Authorized>
                            <DropdownItem style="margin: auto; display:flex; justify-content:center; align-items: center;" href="#">Logout</DropdownItem>                    
                        </Authorized>
                        <NotAuthorized>
                            <DropdownItem style="margin: auto; display:flex; justify-content:center; align-items: center;" @onclick="OpenRegisterModal">Register</DropdownItem>
                            <DropdownDivider/>
                            <DropdownItem style="margin: auto; display:flex; justify-content:center; align-items: center;" @onclick="OpenLogingModal">Login</DropdownItem>                    
                        </NotAuthorized>
                        </AuthorizeView>
                </DropdownMenu>
            </Dropdown>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private bool openLogingModal = false;
    private bool openRegisterModal = false;

    private Task OpenLogingModal()
    {
        openLogingModal = true;

        return Task.CompletedTask;
    }

    private Task OpenRegisterModal()
    {
        openRegisterModal = true;

        return Task.CompletedTask;
    }

}

<style>
</style>